<section class="mx-auto h-full w-full max-w-7xl px-4 py-16">
  <div class="text-center">
    <h1
      class="font-nunito-sans text-4xl font-bold text-neutral-950 dark:text-neutral-100 md:text-5xl"
    >
      Affordable Pricing for Every Business
    </h1>
    <p class="mt-4 text-lg text-neutral-700 dark:text-neutral-300 md:text-xl">
      Choose the plan that fits your needs and scale your business effortlessly.
    </p>
  </div>
</section>
