---
import Layout from '../layouts/Layout.astro';
import HeroAbout from '../components/about/Hero.astro';
import Mission from '../components/about/Mission.astro';
import Work from '../components/about/Work.astro';
import Team from '../components/about/Team.astro';
---

<Layout title="Modern - Modern About  Page">
  <main>
    <HeroAbout />
    <Mission />
    <Work />
    <Team />
  </main>
</Layout>
