---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/home/Hero.astro';
import ServicesSection from '../components/home/Services.astro';
import ExpertiseSection from '../components/home/Expertise.astro';
import AboutSection from '../components/home/About.astro';
import Testimonials from '../components/home/Testimonials.astro';
import ContactSection from '../components/home/Contact.astro';
---

<Layout title="Modern">
  <main>
    <HeroSection />
    <ServicesSection />
    <ExpertiseSection />
    <AboutSection />
    <Testimonials />
    <ContactSection />
  </main>
</Layout>
