---
import Layout from '../layouts/Layout.astro';
import HeroPricing from '../components/pricing/Hero.astro';
import PricingTable from '../components/pricing/PricingTable.astro';
import Faq from '../components/pricing/Faq.astro';
import Cta from '../components/pricing/Cta.astro';
---

<Layout title="Modern - Modern Pricing Page">
  <main>
    <HeroPricing />
    <PricingTable />
    <Faq />
    <Cta />
  </main>
</Layout>
