<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          INSPACE is a platform dedicated to providing furniture solutions that go beyond simple
          purchases. We inspire and guide our customers through thoughtfully curated furniture
          packages, ensuring that every room in their home reflects their style and needs. Whether
          it's a full-room redesign or a simple furniture upgrade, we are here to help you create a
          space you'll love.
        </p>
        <a
          href="/about"
          class="bg-walnutBrown-600 hover:bg-walnutBrown-700 focus-visible:outline-walnutBrown-600 dark:bg-softGold-400 dark:text-primary-950 dark:hover:bg-softGold-500 dark:focus-visible:outline-softGold-400 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read About Us
        </a>
      </div>
    </div>
  </div>
</section>
