<section class="px-4 py-16 sm:py-20">
  <div class="rounded-3xl bg-neutral-100 p-8 text-neutral-950 dark:bg-neutral-600">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2
        class="text-3xl font-medium tracking-tight text-neutral-950 dark:text-neutral-500 sm:text-4xl"
      >
        About
      </h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-neutral-950 dark:text-neutral-500 sm:text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio exercitationem iste
          beatae obcaecati ducimus, assumenda porro nobis officiis nemo praesentium accusamus non
          maiores illo aliquid ab, qui, expedita hic eveniet? Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Deserunt corrupti distinctio expedita explicabo, doloribus
          ipsa, velit atque deleniti voluptates cumque quos eos est omnis tempora magni dolore
          provident ex iusto.
        </p>

        <a
          href="/about"
          class="group rounded-3xl bg-green-200 p-4 px-6 py-3 transition duration-500 hover:bg-neutral-700 dark:bg-blue-200 dark:hover:bg-neutral-200"
        >
          <span
            class="text-sm font-medium text-neutral-200 transition-all group-hover:text-neutral-200 dark:text-neutral-200 dark:group-hover:text-neutral-700"
          >
            Read About Us
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
