---
// Astro component
---

<!-- Contact Section -->
<section class="my-4 grid grid-rows-2 gap-8 px-4 py-8">
  <!-- Contact Info -->
  <div class="grid grid-cols-1 gap-8 space-y-4 md:grid-cols-3">
    <div class="col-span-2 flex flex-col items-start justify-center rounded-3xl bg-slate-100 p-4">
      <h2 class="text-2xl font-bold text-gray-800">Contact Us</h2>
      <div class="space-y-2">
        <p class="text-gray-600">+375 (29) 123 22 66</p>
        <p class="text-gray-600">mail@dom.by</p>
        <p class="text-gray-600">Mon-Fri: 9:00-18:00</p>
      </div>

      <!-- Date -->
      <div class="flex flex-col">
        <p>Day</p>
        <p>Date</p>
      </div>
    </div>

    <!-- Social Icons -->
    <div
      class="flex flex-col items-center justify-center rounded-3xl border-2 border-slate-400 p-4"
    >
      <div>
        <a href="#" class="text-gray-600 hover:text-gray-800">
          <span class="sr-only">Facebook</span>
          <i class="ri-facebook-line ri-xl"></i>
        </a>
        <a href="#" class="text-gray-600 hover:text-gray-800">
          <span class="sr-only">Whatsapp</span>
          <i class="ri-whatsapp-line ri-xl"></i>
        </a>
        <a href="#" class="text-gray-600 hover:text-gray-800">
          <span class="sr-only">Instagram</span>
          <i class="ri-instagram-line ri-xl"></i>
        </a>
      </div>

      <div class="flex flex-col">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore ipsam delectus
          optio quo numquam quibusdam inventore ratione? Laudantium, autem vitae magni corporis
          totam sunt ut mollitia vel aliquam. Cupiditate!
        </p>
      </div>
    </div>
  </div>

  <!-- Map -->
  <div class="h-80 rounded-3xl bg-gray-200">
    <!-- Replace with actual map integration -->
    <div class="h-full w-full overflow-hidden rounded-3xl">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.341309521895!2d106.79919777369996!3d-6.218643460905074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f14d30079f01%3A0x2e74f2341fff266d!2sStadion%20Utama%20Gelora%20Bung%20Karno!5e0!3m2!1sid!2sid!4v1732025447112!5m2!1sid!2sid"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
