---
import Dropdown from '../common/Dropdown.astro';

const dropdownData = [
  {
    number: '01',
    title: 'STRATEGY',
    content:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem quo doloribus, molestias necessitatibus libero aliquam eum dolor facilis impedit nesciunt asperiores reprehenderit, perferendis cum saepe, ratione quia. Quibusdam, impedit!',
  },
  {
    number: '02',
    title: 'DESIGN',
    content:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem quo doloribus, molestias necessitatibus libero aliquam eum dolor facilis impedit nesciunt asperiores reprehenderit, perferendis cum saepe, ratione quia. Quibusdam, impedit!',
  },
  {
    number: '03',
    title: 'CHANGE',
    content:
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore autem quo doloribus, molestias necessitatibus libero aliquam eum dolor facilis impedit nesciunt asperiores reprehenderit, perferendis cum saepe, ratione quia. Quibusdam, impedit!',
  },
];
---

<section class="my-4 h-full w-full px-4 py-8">
  <h2 class="pb-4 text-4xl font-bold text-neutral-950 dark:text-neutral-500">Expertise</h2>

  <div class="flex flex-col space-y-3">
    {
      dropdownData.map((item) => (
        <Dropdown number={item.number} title={item.title} content={item.content} />
      ))
    }
  </div>
</section>
