<!-- Services.astro -->
<section class="mx-auto h-full w-full max-w-7xl px-4 py-16">
  <h2
    class="mb-8 font-nunito-sans text-3xl font-bold text-neutral-950 dark:text-neutral-100 md:text-4xl"
  >
    Services
  </h2>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-6">
    <div
      class="flex flex-col items-start justify-between rounded-3xl bg-neutral-700 p-4 dark:bg-neutral-200 md:p-6 lg:p-8"
    >
      <h3
        class="font-nunito-sans text-xl font-semibold text-neutral-100 dark:text-neutral-950 md:text-2xl"
      >
        Web Development
      </h3>
      <p class="mt-4 text-base text-neutral-200 dark:text-neutral-700 md:text-lg">
        Custom web solutions tailored to your business needs
      </p>
      <i class="ri-code-line ri-xl mt-4 p-1 text-neutral-100 dark:text-neutral-950 sm:p-2 md:mt-6">
      </i>
    </div>

    <div
      class="flex flex-col items-start justify-between rounded-3xl bg-accent-orange-500 p-4 md:p-6 lg:p-8"
    >
      <h3 class="font-nunito-sans text-xl font-semibold text-neutral-100 md:text-2xl">
        UI/UX Design
      </h3>
      <p class="mt-4 text-base text-neutral-100 md:text-lg">
        Creating intuitive and engaging user experiences
      </p>
      <i class="ri-paint-brush-line ri-xl mt-4 p-1 text-neutral-100 sm:p-2 md:mt-6"> </i>
    </div>

    <div
      class="flex flex-col items-start justify-between rounded-3xl bg-green-600 p-4 dark:bg-blue-600 md:p-6 lg:p-8"
    >
      <h3 class="font-nunito-sans text-xl font-semibold text-neutral-100 md:text-2xl">
        Digital Marketing
      </h3>
      <p class="mt-4 text-base text-neutral-200 md:text-lg">
        Strategic solutions to grow your online presence
      </p>
      <i class="ri-bar-chart-line ri-xl mt-4 p-1 text-neutral-100 sm:p-2 md:mt-6"> </i>
    </div>
  </div>
</section>
