<section class="my-4 h-full w-full bg-white px-4 py-8">
  <h2 class="pb-4 text-4xl font-bold text-gray-900">Services</h2>

  <div class="grid h-96 w-full grid-cols-3 gap-4">
    <div class="flex items-center justify-center rounded-3xl bg-red-300">
      <h1>Hello</h1>
    </div>

    <div class="flex items-center justify-center rounded-3xl bg-green-300">
      <h1>Hello</h1>
    </div>

    <div class="flex items-center justify-center rounded-3xl bg-blue-300">
      <h1>Hello</h1>
    </div>
  </div>
</section>
